body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Apenas para centralizar o form na página */
   width: 600px;
   height: 300px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }

  label {
    /*Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas */
    display: inline-block;
    width: 90px;
    text-align: right;
  }

  input {
    margin: 5px;
  }


  input,
textarea {
  /* Para certificar-se que todos os campos de texto têm as mesmas configurações de fonte. Por padrão, textareas ter uma fonte monospace*/
  font:1em sans-serif ;

  /* Para dar o mesmo tamanho a todos os campo de texto */
  font-size: 12px;
  width: 200px;
  height: 35px;
  margin-top: 5px;
  margin-bottom: 5px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  /* Para harmonizar o look & feel das bordas nos campos de texto*/
  border: 1px solid #999;
  border-radius: 5px;
}

input:focus,
textarea:focus {
  /* Dar um pouco de destaque nos elementos ativos */
  border-color: #000;
}

textarea {
    /* Para alinhar corretamente os campos de texto de várias linhas com sua label*/
    vertical-align: top;
  
    /* Para dar espaço suficiente para digitar algum texto */
    height: 5em;
    width: 410px;
  
    /* Para permitir aos usuários redimensionarem qualquer textarea verticalmente. Ele não funciona em todos os browsers */
    resize: vertical;
  }


  .button {
    /* Para posicionar os botões para a mesma posição dos campos de texto */
    padding-left: 90px; /* mesmo tamanho que os elementos do tipo label */
  }

  button {
    /* Esta margem extra representa aproximadamente o mesmo espaço que o espaço entre as labels e os seus campos de texto*/
    border: 1px solid #fab427;
    border-radius: 5px;
    width: 410px;
    height: 30px;
    background-color: #fab427;
    margin-top: 20px;
    font-weight: bold;
    font-size: 12px;
    color: #ffffff;
  }

  .titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .titulo p {
    margin-top: 10px;
    font-size: 12px;
  }

  .nome {
    display: flex;
    justify-content: center;
  }

  .info {
    display: flex;
    justify-content: center;
  }

  .home {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .info_contato {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    justify-content: center;
    margin-top: 60px;    
  }

  .info_contato i {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 10px;
    margin-right: 8px;
  }

  .info_contato i h4{
    color: #000;
    margin-left: 6px;
  }

  .info_contato p {
    font-size: 14px;
    margin-left: 30px;
  }

  .info_contato .tel{
    margin-bottom: 30px;
  }

  .info_contato .mail{
    margin-bottom: 30px;
  }

  .info_contato .horario{
    margin-bottom: 30px;
  }